:root{
    --textColor: white;
    --headerColor: white;
    --backgroundColor: rgba(0, 0, 0, 0.5);;
    --font-family: 'Sawarabi Mincho', sans-serif;
    --rightAnswer: rgb(21, 255, 0);
    --wrongAnswer: red;
    --borderColor: rgb(134, 183, 255);
    --cardBkgColor: moccasin;
    --cardTextColor: black;
}

.jumbotron,  #startGame, .option, 
#question, #questionTimer, .card, #category, #difficulty
{
    color: var(--headerColor);
    background-color: var(--backgroundColor);
    border-color: var(--borderColor);
    text-align: center;
    border-width: .1em;
    border-style: solid;
    font-size: 2em;
}

.jumbotron{
    border-style: double;
    border-width: 1em;
    font-size: 1em;
}

.option{
    font-size: 1em;
    margin-right: 1em;
}

#optionsGroup{
    margin-bottom: 5em;
}



body{
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: var(--font-family);
    background-image: url("/assets/worldImages/woldBkg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    height: 100%;
    width: 100%;
}

.row, .card{
    margin-top: 2em;
}
footer{
    margin-top: 2em;
    text-align: right;
    width: 100%;
}

.dropdown{
    margin-right: 2em;
}